<div class="shape-editor-actions">
    <input type="hidden" name="returnUrl"/>
    <ul>
        <li><a href="#" data-command="save" class="submit">@T("Save")</a></li>
        <li><a href="#" data-command="cancel">@T("Cancel")</a></li>
    </ul>
</div>

<div class="part-editor-resources">
    @Display.HeadLinks()
    @Display.StyleSheetLinks()
    @Display.HeadScripts()
    @Display.FootScripts()
</div>